N8n-Project.json

{
  "name": "Writing Scope of Work for Service Contracts",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "formUi": {
          "form": [
            {
              "label": "Contract Title",
              "name": "contractTitle",
              "type": "string",
              "required": true,
              "description": "Enter the title of the contract"
            },
            {
              "label": "Client Name",
              "name": "clientName",
              "type": "string",
              "required": true,
              "description": "Enter the name of the client"
            },
            {
              "label": "Service Category",
              "name": "serviceCategory",
              "type": "options",
              "required": true,
              "options": [
                {
                  "name": "IT Services",
                  "value": "it_services"
                },
                {
                  "name": "Marketing Services",
                  "value": "marketing_services"
                },
                 {
                  "name": "Consulting Services",
                  "value": "consulting_services"
                }
              ],
                "description": "Select the category of service"
            },
              {
                "label": "Service Description",
                "name": "serviceDescription",
                "type": "string",
                "required": true,
                 "typeOptions": {
                   "rows": 4
                  },
                "description": "Describe the service in detail"
              },
            {
              "label": "Start Date",
              "name": "startDate",
              "type": "date",
              "required": true,
              "description": "Enter the start date of the contract"
            },
            {
              "label": "End Date",
              "name": "endDate",
              "type": "date",
              "required": true,
               "description": "Enter the end date of the contract"
            }
          ]
        }
      },
      "name": "Collect Contract Details",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
       "notes": "Collect all necessary contract details using a form."
    },
    {
      "parameters": {
        "functionCode": "// Get the data of the previous node\nconst contractDetails = $input.item.json;\n\n// Access historical SoW data (replace with actual database/API call)\nconst historicalSoW = {\n  it_services: [\n    \"Include regular maintenance and updates.\",\n    \"Ensure 24/7 support.\"\n  ],\n  marketing_services: [\n    \"Develop marketing strategy.\",\n    \"Manage social media campaigns.\"\n  ],\n    consulting_services: [\n     \"Provide expert advice.\",\n     \"Analyze market trends.\"\n   ]\n};\n\n// Extract relevant clauses based on service category\nconst serviceCategory = contractDetails.serviceCategory;\nconst clauses = historicalSoW[serviceCategory] || [];\n\n// Combine and add the clauses\nconst combinedDescription = `${contractDetails.serviceDescription} \\n\\n Based on historical data, include the following:\n${clauses.join('\\n - ')}`;\n\n\n// Return the modified data\nreturn [{\n  json: {\n    ...contractDetails,\n     combinedDescription,\n    clauses: clauses\n  }\n}];"
      },
      "name": "Analyze Historical SoW",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "notes": "Fetch historical data and add relevant clauses."
    },
    {
      "parameters": {
        "documentFormat": "docx",
        "outputFormat": "docx",
        "template": "",
        "documentData": "={\n  \"contractTitle\": $json.contractTitle,\n  \"clientName\": $json.clientName,\n  \"serviceDescription\": $json.combinedDescription,\n  \"startDate\": $json.startDate,\n  \"endDate\": $json.endDate,\n  \"clauses\": $json.clauses\n}",
        "templateType": "Handlebars"
      },
      "name": "Generate SoW Document",
      "type": "n8n-nodes-base.document",
      "typeVersion": 1,
       "position": [
        600,
        0
      ],
       "notes": "Generate the SoW Document using the collected and enhanced data."
    },
    {
      "parameters": {
        "toEmail": "user@example.com",
        "subject": "New SoW Document",
        "text": "A new Scope of Work document has been generated for {{$json.contractTitle}}.",
        "attachmentsUi": {
          "attachments": [
            {
              "name": "Scope_of_Work_{{$json.contractTitle}}.docx",
              "file": "={{$binary.data}}"
            }
          ]
        }
      },
      "name": "Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "notes": "Send an email notification with the generated SoW Document."
    },
    {
      "parameters": {
           "collection": "sow_documents",
            "document": "={\n  \"contractTitle\": $json.contractTitle,\n  \"clientName\": $json.clientName,\n  \"serviceDescription\": $json.combinedDescription,\n  \"startDate\": $json.startDate,\n  \"endDate\": $json.endDate,\n    \"clauses\": $json.clauses,\n     \"document\": {{$binary.data}}\n}",
           "operation": "upsert"
         },
      "name": "Store Document",
      "type": "n8n-nodes-base.documentStore",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "notes": "Store the document in a document database."
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Collect Contract Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Contract Details": {
      "main": [
        [
          {
            "node": "Analyze Historical SoW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Historical SoW": {
      "main": [
        [
          {
            "node": "Generate SoW Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SoW Document": {
      "main": [
        [
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          },
           {
            "node": "Store Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}


